.experiences {
  padding: 2rem .5rem;
  width: 100%;
  max-width: 1276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 1rem;
  border-bottom: 2px solid var(--coffee);
}
.title {
  font-size: 2rem;
  color: var(--coffee);
}
.link {
  width: fit-content;
  display: block;
}
.link:hover .name {
  text-decoration: underline;
}
.name {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black);
}
.position {
  font-size: 1rem;
  font-weight: bold;
}
.time {
  font-size: .8rem;
  margin-bottom: .5rem;
}
@media print {
  .experiences {
    padding: 0 .5rem !important;
    border-bottom: none !important;
    gap: .5rem;
  }
  .name {
    font-size: 15px !important;
  }
}