.ButtonThemeLight::after {
  transform: translateX(0);
}
.ButtonThemeDark::after {
  transform: translateX(20px) !important;
}
.GitHub:hover {
  background: var(--black);
}
.LinkedIn:hover {
  background: #0077B5;
}
.successFormSend {
  background: rgb(0, 128, 0, .7);
}
.errorFormSend {
  background: rgb(255, 0, 0, .7);
}
.CargandoImage {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
}
.CargandoImage::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  border-left: 2px solid var(--coffee);
  border-right: 2px solid var(--coffee);
  top: -.5rem;
  animation: loading-image infinite 1s linear;
}
@keyframes loading-image {
  to {
    transform: rotate(360deg);
  }
}