.ButtonThemeLight::after {
  transform: translateX(0);
}
.ButtonThemeDark::after {
  transform: translateX(20px) !important;
}
.GitHub:hover {
  background: var(--black);
}
.LinkedIn:hover {
  background: #0077B5;
}
.successFormSend {
  background: rgb(0, 128, 0, .7);
}
.errorFormSend {
  background: rgb(255, 0, 0, .7);
}
.portafolio {
  margin: 0 auto;
  padding: 0 .5rem 2rem .5rem;
  width: fit-content;
  display: none;

  .url {
    color: var(--black);
    text-decoration: underline;
  }
}


@media print {
  .portafolio {
    display: block !important;
  }
}