:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #888888;
  --gray-light: #FEFBF6;
  --orange: #ECB159;
  --coffee: #b67352;
}
@media (prefers-color-scheme: dark) {
  :root {
    --white: #000000;
    --black: #ffffff;
  }
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 .75rem;
}
html {
  margin: 0;
  background: var(--white);
  letter-spacing: -.025rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, figure {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;

  &::selection {
    background: #D19255;
  }
}
h1, h2, h3, h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}
p {
  color: var(--black);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  text-wrap: pretty;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
@media print {
  :root {
    --coffee: #000000;
  }
  p {
    font-size: 12px !important;
  }
  h1 {
    font-size: 18px !important;
  }
}